In [1]:
# pandas in python
# https://pandas.pydata.org/

# install pandas 
%pip install pandas

Requirement already satisfied: pandas in c:\users\mansi\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mansi\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mansi\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mansi\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mansi\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\mansi\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# importing pandas as pd
import pandas as pd

# Series
# What is a series?
# A series is a one-dimensional labeled array capabled of holding any data type
# (integers, strings, floating point numbers, python objects, etc.)
# The axis labels are collectively called the index.

# create a series

data = ["JAVA", "PTYHON", "R", "SQL"]

# Create a series from a list

s = pd.Series(data)
print(s)

0      JAVA
1    PTYHON
2         R
3       SQL
dtype: object

In [3]:
# Create a series from a dictionary
data = {
    "Name": "Anvi",
    "Age": 26,
    "City": "Pune"
}

s = pd.Series(data)
print(s)

Name    Anvi
Age       26
City    Pune
dtype: object

In [4]:
# Rename the index
data = ["JAVA", "PTYHON", "R", "SQL"]

s = pd.Series(data, index = ["a", "b", "c", "d"])
print(s)

a      JAVA
b    PTYHON
c         R
d       SQL
dtype: object

In [5]:
# Data Frame 

# What is a data frame?
# A data frame is a two-dimensional labeled data structure with columns of potentiallu different types 
# it is similar to a spreadsheet or SQL table, or a divtionary of series objects
# the data frame has an index and columns.

# Example
data = {
    "Name": ["Anvi","Arnav","Milind"],
    "Age": [25, 27, 30],
    "City": ["Mumbai", "Pune", "Nashik"]
}

df = pd.DataFrame(data)
print(df)

     Name  Age    City
0    Anvi   25  Mumbai
1   Arnav   27    Pune
2  Milind   30  Nashik

In [6]:
# Add index
data = {
    "Name": ["Anvi","Arnav","Milind"],
    "Age": [25, 27, 30],
    "City": ["Mumbai", "Pune", "Nashik"]
}
df = pd.DataFrame(data, index = ["a", "b", "c"])
print(df)

     Name  Age    City
a    Anvi   25  Mumbai
b   Arnav   27    Pune
c  Milind   30  Nashik

In [7]:
# read csv file

data = pd.read_csv("C:/Users/mansi/Downloads/employee_survey.csv")
print(data)

      EmpID  Gender  Age MaritalStatus        JobLevel  Experience       Dept  \
0         6    Male   32       Married             Mid           7         IT
1        11  Female   34       Married             Mid          12    Finance
2        33  Female   23        Single  Intern/Fresher           1  Marketing
3        20  Female   29       Married          Junior           6         IT
4        28   Other   23        Single          Junior           1      Sales
...     ...     ...  ...           ...             ...         ...        ...
3020   2070    Male   47       Married            Lead          16  Marketing
3021   2072  Female   47       Married            Lead           8         IT
3022   2145    Male   41       Married            Lead          17         IT
3023   2168  Female   54       Married            Lead          16         IT
3024   2183  Female   44       Married            Lead          22  Marketing

        EmpType  WLB  WorkEnv  ...  SleepHours       CommuteMode  \
0     Full-Time    1        1  ...         7.6               Car
1     Full-Time    1        1  ...         7.9               Car
2     Full-Time    2        4  ...         6.5         Motorbike
3      Contract    2        2  ...         7.5  Public Transport
4     Part-Time    3        1  ...         4.9               Car
...         ...  ...      ...  ...         ...               ...
3020  Part-Time    1        3  ...         6.8  Public Transport
3021   Contract    3        1  ...         6.9               Car
3022  Full-Time    1        1  ...         6.1  Public Transport
3023  Full-Time    1        5  ...         7.7  Public Transport
3024  Full-Time    3        3  ...         6.2               Car

      CommuteDistance  NumCompanies TeamSize  NumReports  EduLevel  haveOT  \
0                  20             3       12           0  Bachelor    True
1                  15             4       11           0  Bachelor   False
2                  17             0       30           0  Bachelor    True
3                  13             2        9           0  Bachelor    True
4                  20             0        7           0  Bachelor   False
...               ...           ...      ...         ...       ...     ...
3020               15             8       28           8    Master   False
3021               28             8       21           8    Master    True
3022                9             6       23           3    Master    True
3023               18            10       30           7    Master    True
3024               10             7       29           4       PhD   False

      TrainingHoursPerYear JobSatisfaction
0                     33.5               5
1                     36.0               5
2                     10.5               5
3                     23.0               5
4                     20.5               5
...                    ...             ...
3020                  58.0               1
3021                  54.0               1
3022                  58.5               1
3023                  58.0               1
3024                  61.0               1

[3025 rows x 23 columns]

In [8]:
# Print the first five rows



print(data.head())

   EmpID  Gender  Age MaritalStatus        JobLevel  Experience       Dept  \
0      6    Male   32       Married             Mid           7         IT
1     11  Female   34       Married             Mid          12    Finance
2     33  Female   23        Single  Intern/Fresher           1  Marketing
3     20  Female   29       Married          Junior           6         IT
4     28   Other   23        Single          Junior           1      Sales

     EmpType  WLB  WorkEnv  ...  SleepHours       CommuteMode  \
0  Full-Time    1        1  ...         7.6               Car
1  Full-Time    1        1  ...         7.9               Car
2  Full-Time    2        4  ...         6.5         Motorbike
3   Contract    2        2  ...         7.5  Public Transport
4  Part-Time    3        1  ...         4.9               Car

   CommuteDistance  NumCompanies TeamSize  NumReports  EduLevel  haveOT  \
0               20             3       12           0  Bachelor    True
1               15             4       11           0  Bachelor   False
2               17             0       30           0  Bachelor    True
3               13             2        9           0  Bachelor    True
4               20             0        7           0  Bachelor   False

   TrainingHoursPerYear JobSatisfaction
0                  33.5               5
1                  36.0               5
2                  10.5               5
3                  23.0               5
4                  20.5               5

[5 rows x 23 columns]

In [9]:
# Find the shape of the data frame
print(data.shape)

(3025, 23)

In [10]:
# Get all columns name
print(data.columns)

Index(['EmpID', 'Gender', 'Age', 'MaritalStatus', 'JobLevel', 'Experience',
       'Dept', 'EmpType', 'WLB', 'WorkEnv', 'PhysicalActivityHours',
       'Workload', 'Stress', 'SleepHours', 'CommuteMode', 'CommuteDistance',
       'NumCompanies', 'TeamSize', 'NumReports', 'EduLevel', 'haveOT',
       'TrainingHoursPerYear', 'JobSatisfaction'],
      dtype='object')

In [11]:
print(data.describe())

             EmpID          Age   Experience          WLB      WorkEnv  \
count  3025.000000  3025.000000  3025.000000  3025.000000  3025.000000
mean   1513.000000    35.741818     9.082645     3.061157     3.029091
std     873.386608    10.191833     7.073344     1.447001     1.415317
min       1.000000    22.000000     0.000000     1.000000     1.000000
25%     757.000000    27.000000     3.000000     2.000000     2.000000
50%    1513.000000    34.000000     8.000000     3.000000     3.000000
75%    2269.000000    43.000000    14.000000     4.000000     4.000000
max    3025.000000    60.000000    29.000000     5.000000     5.000000

       PhysicalActivityHours     Workload       Stress   SleepHours  \
count            3025.000000  3025.000000  3025.000000  3025.000000
mean                2.029620     2.966612     1.736529     7.005983
std                 0.966014     1.401486     1.064242     1.002652
min                 0.000000     1.000000     1.000000     4.000000
25%                 1.300000     2.000000     1.000000     6.300000
50%                 2.000000     3.000000     1.000000     7.000000
75%                 2.700000     4.000000     2.000000     7.700000
max                 5.000000     5.000000     5.000000    10.000000

       CommuteDistance  NumCompanies     TeamSize   NumReports  \
count      3025.000000   3025.000000  3025.000000  3025.000000
mean         13.473719      4.253554    16.516033     2.383140
std           8.395249      3.382501     6.638419     3.058131
min           1.000000      0.000000     5.000000     0.000000
25%           6.000000      1.000000    11.000000     0.000000
50%          13.000000      4.000000    16.000000     0.000000
75%          21.000000      7.000000    22.000000     5.000000
max          29.000000     12.000000    30.000000     9.000000

       TrainingHoursPerYear  JobSatisfaction
count           3025.000000      3025.000000
mean              37.301653         3.386777
std               13.569772         1.260599
min               10.000000         1.000000
25%               23.500000         3.000000
50%               40.000000         4.000000
75%               46.500000         4.000000
max               64.500000         5.000000

In [12]:
# Get the data types of each column
print(data.dtypes)

EmpID                      int64
Gender                    object
Age                        int64
MaritalStatus             object
JobLevel                  object
Experience                 int64
Dept                      object
EmpType                   object
WLB                        int64
WorkEnv                    int64
PhysicalActivityHours    float64
Workload                   int64
Stress                     int64
SleepHours               float64
CommuteMode               object
CommuteDistance            int64
NumCompanies               int64
TeamSize                   int64
NumReports                 int64
EduLevel                  object
haveOT                      bool
TrainingHoursPerYear     float64
JobSatisfaction            int64
dtype: object

In [13]:
# Get specific column
print(data["JobLevel"], data["Experience"])

0                  Mid
1                  Mid
2       Intern/Fresher
3               Junior
4               Junior
             ...
3020              Lead
3021              Lead
3022              Lead
3023              Lead
3024              Lead
Name: JobLevel, Length: 3025, dtype: object 0        7
1       12
2        1
3        6
4        1
        ..
3020    16
3021     8
3022    17
3023    16
3024    22
Name: Experience, Length: 3025, dtype: int64

In [14]:
# Get specific row
print(data.iloc[5])

EmpID                            45
Gender                       Female
Age                              33
MaritalStatus               Married
JobLevel                        Mid
Experience                       10
Dept                     Operations
EmpType                   Part-Time
WLB                               2
WorkEnv                           3
PhysicalActivityHours           1.4
Workload                          4
Stress                            2
SleepHours                      6.2
CommuteMode                     Car
CommuteDistance                   8
NumCompanies                      3
TeamSize                         13
NumReports                        0
EduLevel                   Bachelor
haveOT                        False
TrainingHoursPerYear           35.0
JobSatisfaction                   5
Name: 5, dtype: object

In [15]:
# Get specific row and column
print(data.iloc[7, 3])

Single

In [16]:
# Find the employee with age more than 30

new_data = data[data["Age"] > 30]

# Write the new data to a csv file
new_data.to_csv("C:/Users/mansi/Downloads/new_employee_survey.csv")

In [17]:
# check the data types of each column
print(data.dtypes)

EmpID                      int64
Gender                    object
Age                        int64
MaritalStatus             object
JobLevel                  object
Experience                 int64
Dept                      object
EmpType                   object
WLB                        int64
WorkEnv                    int64
PhysicalActivityHours    float64
Workload                   int64
Stress                     int64
SleepHours               float64
CommuteMode               object
CommuteDistance            int64
NumCompanies               int64
TeamSize                   int64
NumReports                 int64
EduLevel                  object
haveOT                      bool
TrainingHoursPerYear     float64
JobSatisfaction            int64
dtype: object

In [18]:
print(new_data)

      EmpID  Gender  Age MaritalStatus JobLevel  Experience              Dept  \
0         6    Male   32       Married      Mid           7                IT
1        11  Female   34       Married      Mid          12           Finance
5        45  Female   33       Married      Mid          10        Operations
10       18    Male   40        Single      Mid          14  Customer Service
13      108  Female   35       Married   Senior          12           Finance
...     ...     ...  ...           ...      ...         ...               ...
3020   2070    Male   47       Married     Lead          16         Marketing
3021   2072  Female   47       Married     Lead           8                IT
3022   2145    Male   41       Married     Lead          17                IT
3023   2168  Female   54       Married     Lead          16                IT
3024   2183  Female   44       Married     Lead          22         Marketing

        EmpType  WLB  WorkEnv  ...  SleepHours       CommuteMode  \
0     Full-Time    1        1  ...         7.6               Car
1     Full-Time    1        1  ...         7.9               Car
5     Part-Time    2        3  ...         6.2               Car
10    Full-Time    5        5  ...         6.3               Car
13    Full-Time    5        3  ...         6.8  Public Transport
...         ...  ...      ...  ...         ...               ...
3020  Part-Time    1        3  ...         6.8  Public Transport
3021   Contract    3        1  ...         6.9               Car
3022  Full-Time    1        1  ...         6.1  Public Transport
3023  Full-Time    1        5  ...         7.7  Public Transport
3024  Full-Time    3        3  ...         6.2               Car

      CommuteDistance  NumCompanies TeamSize  NumReports  EduLevel  haveOT  \
0                  20             3       12           0  Bachelor    True
1                  15             4       11           0  Bachelor   False
5                   8             3       13           0  Bachelor   False
10                  8             6       11           0  Bachelor   False
13                 11             4       21           2  Bachelor   False
...               ...           ...      ...         ...       ...     ...
3020               15             8       28           8    Master   False
3021               28             8       21           8    Master    True
3022                9             6       23           3    Master    True
3023               18            10       30           7    Master    True
3024               10             7       29           4       PhD   False

      TrainingHoursPerYear JobSatisfaction
0                     33.5               5
1                     36.0               5
5                     35.0               5
10                    37.0               5
13                    46.0               5
...                    ...             ...
3020                  58.0               1
3021                  54.0               1
3022                  58.5               1
3023                  58.0               1
3024                  61.0               1

[1914 rows x 23 columns]

In [19]:
#data["JoiningYear"] = pd.to_datetime(data["JoiningYear"], format="%Y")
#print(data)

In [20]:
print(data.dtypes)

EmpID                      int64
Gender                    object
Age                        int64
MaritalStatus             object
JobLevel                  object
Experience                 int64
Dept                      object
EmpType                   object
WLB                        int64
WorkEnv                    int64
PhysicalActivityHours    float64
Workload                   int64
Stress                     int64
SleepHours               float64
CommuteMode               object
CommuteDistance            int64
NumCompanies               int64
TeamSize                   int64
NumReports                 int64
EduLevel                  object
haveOT                      bool
TrainingHoursPerYear     float64
JobSatisfaction            int64
dtype: object